@charset "UTF-8";

@font-face {
  font-family: "storifycons";
  src:url("../fonts/storifycons.eot");
  src:url("../fonts/storifycons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/storifycons.woff") format("woff"),
    url("../fonts/storifycons.ttf") format("truetype"),
    url("../fonts/storifycons.svg#storifycons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "storifycons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="storifycon-"]:before,
[class*=" storifycon-"]:before {
  font-family: "storifycons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.storifycon-alert:before {
  content: "\e000";
}
.storifycon-arrow-down:before {
  content: "\e001";
}
.storifycon-arrow-down-full:before {
  content: "\e002";
}
.storifycon-arrow-left:before {
  content: "\e003";
}
.storifycon-arrow-right:before {
  content: "\e004";
}
.storifycon-arrow-up:before {
  content: "\e005";
}
.storifycon-arrow-up-full:before {
  content: "\e006";
}
.storifycon-beer:before {
  content: "\e007";
}
.storifycon-calendar:before {
  content: "\e008";
}
.storifycon-camera:before {
  content: "\e009";
}
.storifycon-collapse:before {
  content: "\e00a";
}
.storifycon-copy:before {
  content: "\e00b";
}
.storifycon-delete:before {
  content: "\e00c";
}
.storifycon-draft:before {
  content: "\e00d";
}
.storifycon-edit:before {
  content: "\e00e";
}
.storifycon-edit-1:before {
  content: "\e00f";
}
.storifycon-embed:before {
  content: "\e010";
}
.storifycon-export:before {
  content: "\e011";
}
.storifycon-export-html:before {
  content: "\e012";
}
.storifycon-export-json:before {
  content: "\e013";
}
.storifycon-export-pdf:before {
  content: "\e014";
}
.storifycon-export-xml:before {
  content: "\e015";
}
.storifycon-format-bold:before {
  content: "\e016";
}
.storifycon-format-italic:before {
  content: "\e017";
}
.storifycon-format-strikethrough:before {
  content: "\e018";
}
.storifycon-format-underline:before {
  content: "\e019";
}
.storifycon-grabber:before {
  content: "\e01a";
}
.storifycon-hamburger:before {
  content: "\e01b";
}
.storifycon-home:before {
  content: "\e01c";
}
.storifycon-information:before {
  content: "\e01d";
}
.storifycon-like:before {
  content: "\e01e";
}
.storifycon-location:before {
  content: "\e01f";
}
.storifycon-logo:before {
  content: "\e020";
}
.storifycon-logo-by-livefyre:before {
  content: "\e021";
}
.storifycon-logotype:before {
  content: "\e022";
}
.storifycon-logotype-storify:before {
  content: "\e023";
}
.storifycon-more:before {
  content: "\e024";
}
.storifycon-new-story:before {
  content: "\e025";
}
.storifycon-notify:before {
  content: "\e026";
}
.storifycon-plus:before {
  content: "\e027";
}
.storifycon-preview:before {
  content: "\e028";
}
.storifycon-private:before {
  content: "\e029";
}
.storifycon-published:before {
  content: "\e02a";
}
.storifycon-question:before {
  content: "\e02b";
}
.storifycon-redo:before {
  content: "\e02c";
}
.storifycon-search:before {
  content: "\e02d";
}
.storifycon-share:before {
  content: "\e02e";
}
.storifycon-sidenotes:before {
  content: "\e02f";
}
.storifycon-source-app-dot-net:before {
  content: "\e030";
}
.storifycon-source-audioboo:before {
  content: "\e031";
}
.storifycon-source-breaking:before {
  content: "\e032";
}
.storifycon-source-chute:before {
  content: "\e033";
}
.storifycon-source-disqus:before {
  content: "\e034";
}
.storifycon-source-drupal:before {
  content: "\e035";
}
.storifycon-source-email:before {
  content: "\e036";
}
.storifycon-source-facebook:before {
  content: "\e037";
}
.storifycon-source-flickr:before {
  content: "\e038";
}
.storifycon-source-foursquare:before {
  content: "\e039";
}
.storifycon-source-getty:before {
  content: "\e03a";
}
.storifycon-source-gif:before {
  content: "\e03b";
}
.storifycon-source-giphy:before {
  content: "\e03c";
}
.storifycon-source-google:before {
  content: "\e03d";
}
.storifycon-source-google-plus:before {
  content: "\e03e";
}
.storifycon-source-instagram:before {
  content: "\e03f";
}
.storifycon-source-link:before {
  content: "\e040";
}
.storifycon-source-linkedin:before {
  content: "\e041";
}
.storifycon-source-livefyre:before {
  content: "\e042";
}
.storifycon-source-mailchimp:before {
  content: "\e043";
}
.storifycon-source-pinterest:before {
  content: "\e044";
}
.storifycon-source-reddit:before {
  content: "\e045";
}
.storifycon-source-rss:before {
  content: "\e046";
}
.storifycon-source-shutterstock:before {
  content: "\e047";
}
.storifycon-source-slideshare:before {
  content: "\e048";
}
.storifycon-source-soundcloud:before {
  content: "\e049";
}
.storifycon-source-stocktwits:before {
  content: "\e04a";
}
.storifycon-source-tumblr:before {
  content: "\e04b";
}
.storifycon-source-twitter:before {
  content: "\e04c";
}
.storifycon-source-twitter2:before {
  content: "\e04d";
}
.storifycon-source-vimeo:before {
  content: "\e04e";
}
.storifycon-source-vine:before {
  content: "\e04f";
}
.storifycon-source-wordpress:before {
  content: "\e050";
}
.storifycon-source-youtube:before {
  content: "\e051";
}
.storifycon-source-youtube2:before {
  content: "\e052";
}
.storifycon-source-zementa:before {
  content: "\e053";
}
.storifycon-template-cards:before {
  content: "\e054";
}
.storifycon-template-grid:before {
  content: "\e055";
}
.storifycon-template-slideshow:before {
  content: "\e056";
}
.storifycon-template-story:before {
  content: "\e057";
}
.storifycon-templates:before {
  content: "\e058";
}
.storifycon-twitter-reply:before {
  content: "\e059";
}
.storifycon-twitter-retweet:before {
  content: "\e05a";
}
.storifycon-twitter-star:before {
  content: "\e05b";
}
.storifycon-undo:before {
  content: "\e05c";
}
.storifycon-unlock:before {
  content: "\e05d";
}
.storifycon-video:before {
  content: "\e05e";
}
.storifycon-video-camera:before {
  content: "\e05f";
}
.storifycon-x:before {
  content: "\e060";
}
.storifycon-photograph:before {
  content: "\e061";
}
