#watch-storify {
  margin-left: 3px;
}

#watch-storify .yt-uix-button-icon {
  width: 16px;
  height: 16px;
  background: no-repeat url('../img/storify-youtube-16.png');
}

#watch-storify:hover .yt-uix-button-icon {
  background-position: 0 -16px;
}