.fyre-widget a.fyre-comment-storify {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;  
  color: #505153 !important;
font-size: 10px !important;
font-weight: bold !important;
padding: 0px !important;
text-transform: uppercase;
top: 0px !important;
text-decoration: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
cursor: pointer;
}

