a.fyre-storify-link>span {
  background-image: url('../img/storify-livefyre-16.png') !important;
  background-position: 0 0 !important;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  top: 4px;
}

a.fyre-storify-link:hover>span {
  background-position: 0px -16px !important;
}

