#storify_overlay {
  /*overflow: hidden;*/
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  z-index: 2000000000;
}

.storify-spinner {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
}

#storify-notification {
  position: fixed;
  top: 50px;
  left: 50%;
  width: 260px;
  margin-left: -130px;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font: 11px Helvetica;
  border-radius: 3px;
  z-index: 999998;
}