#page-container .sm-storify {
  background-position: 0 -13px;
}

.sm-storify, .hover .sm-storify,
.opened-tweet .sm-storify {
  width: 13px !important;
  height: 13px !important;
  background-image: url('../img/storify-twitter-13.png') !important;
}

.hover .sm-storify {
  background-position: 0 -13px !important;
}

.opened-tweed .sm-storify,
.opened-tweet.hover .sm-storify {
  background-position: 0 0 !important;
}

.simple-tweet .sm-storify {
  background-position: 0 -13px !important;
}

.media-slideshow-tweet .sm-storify {
  background-position: 0 -26px !important;
}

#page-container .permalink-tweet .sm-storify {
 background-position: 0 -16px;   
}
.permalink-tweet .sm-storify {
  width: 16px !important;
  height: 16px !important;
  background-image: url('../img/storify-twitter-16.png') !important;
}
